@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div class="text-center">
    <h1 class="display-4">Welcome to Agile Speakers</h1>
    <div class="container">
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-2">User</div>
            <div class="col-4"><input type="text" id="userInput" /></div>
        </div>
        <div class="row">
            <div class="col-2">Message</div>
            <div class="col-4"><input type="text" id="messageInput" /></div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-6">
                <input type="button" id="sendButton" value="Send Message" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col">
                <canvas id="developerScrumValuesChart"></canvas>
            </div>
            <div class="col">
                <canvas id="teamScrumValuesChart"></canvas>
            </div>
        </div>
    </div>

    <script>
        const labelsValue = [
            'Courage',
            'Focus',
            'Commitment',
            'Respect',
            'Openness'
        ];
        const developersDataset = [{
            label: 'Developer 1',
            data: [1, 3, 5, 2, 3],
            fill: true,
            backgroundColor: 'rgba(255, 99, 132, 0.2)',
            borderColor: 'rgb(255, 99, 132)',
            pointBackgroundColor: 'rgb(255, 99, 132)',
            pointBorderColor: '#fff',
            pointHoverBackgroundColor: '#fff',
            pointHoverBorderColor: 'rgb(255, 99, 132)'
        }, {
            label: 'Developer 2',
            data: [3, 2, 6, 1, 5],
            fill: true,
            backgroundColor: 'rgba(54, 162, 235, 0.2)',
            borderColor: 'rgb(54, 162, 235)',
            pointBackgroundColor: 'rgb(54, 162, 235)',
            pointBorderColor: '#fff',
            pointHoverBackgroundColor: '#fff',
            pointHoverBorderColor: 'rgb(54, 162, 235)'
        }];
        const teamDataset = [{
            label: 'Scrum Team',
            data: [2, 3, 6, 2, 4],
            fill: true,
            backgroundColor: 'rgba(255, 99, 132, 0.2)',
            borderColor: 'rgb(255, 99, 132)',
            pointBackgroundColor: 'rgb(255, 99, 132)',
            pointBorderColor: '#fff',
            pointHoverBackgroundColor: '#fff',
            pointHoverBorderColor: 'rgb(255, 99, 132)'
        }];
        const developersData = {
            labels: labelsValue,
            datasets: developersDataset
        };
        const teamData = {
            labels: labelsValue,
            datasets: teamDataset
        };
        const developersConfig = {
            type: 'radar',
            data: developersData,
            options: {
                elements: {
                    line: {
                        borderWidth: 3
                    }
                },
                scales: {
                    r: {
                        suggestedMin: 0,
                        suggestedMax: 6
                    }
                }
            },
        };
        const teamConfig = {
            type: 'radar',
            data: teamData,
            options: {
                elements: {
                    line: {
                        borderWidth: 3
                    }
                },
                scales: {
                    r: {
                        suggestedMin: 0,
                        suggestedMax: 6
                    }
                }
            },
        };
    </script>

    <script>
        const developerRadar = new Chart(
            document.getElementById('developerScrumValuesChart'),
            developersConfig
        );
        const teamRadar = new Chart(
            document.getElementById('teamScrumValuesChart'),
            teamConfig
        );
    </script>

</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>