@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Moss and Lichens Labs</h1>
    <h2>2022 Projects</h2>
    Scrum Values Chart
</div>
